<div class="container-fluid">
    <br>
      <h2>Edit Job</h2>
      <div >
      <form *ngIf="editjobForm" [formGroup]="editjobForm" (ngSubmit)="update(job.code, job)" novalidate>
        <div class="form-group">
            <label>Job Code</label>
            <input type="text" 
            formControlName="code" class="form-control">
                <div *ngIf="code && code.errors && code.touched">
                  <div class="alert alert-danger" *ngIf="code.errors?.required">Job Code is required</div>
                  <div class="alert alert-danger" *ngIf="code.errors?.minlength">Job Code must be at least 3 characters</div>
                </div>
        </div>

        <div class="form-group">
            <label>Description</label>
            <input type="text"  
            formControlName="description" class="form-control">
                <div *ngIf="description && description.errors && description.touched">
                  <div class="alert alert-danger" *ngIf="description.errors?.required">Description is required</div>
                  <div class="alert alert-danger" *ngIf="description.errors?.minlength">Description must be at least 3 characters</div>
                </div>
        </div>
    
        <div class="form-group">
            <label>Hourly Rate</label>
            <input type="text" 
            formControlName="hourly_rate" class="form-control">
                <div *ngIf="hourly_rate && hourly_rate.touched && hourly_rate.errors">
                  <div class="alert alert-danger" *ngIf="hourly_rate.errors.required">Hourly rate is required</div>
                  <div class="alert alert-danger" *ngIf="hourly_rate.errors.max">Hourly rate must be less than $1000000</div>
                </div><br>
        </div>

        <div class="form-group">
            <label>Max hours/day</label>
            <input type="text" 
            formControlName="maxhoursperday" class="form-control">
                <div *ngIf="maxhoursperday && maxhoursperday.touched && maxhoursperday.errors">
                  <div class="alert alert-danger" *ngIf="maxhoursperday.errors.required">Max Hours/Day is required</div>
                  <div class="alert alert-danger" *ngIf="maxhoursperday.errors.max">Max Hours/Day must be less than 24 hrs</div>
                </div><br>
        </div>


        <button class="btn btn-primary" [disabled]="editjobForm.invalid" type="submit">Update form</button>
      </form>
    </div>
      <div class="alert alert-danger" *ngIf="errorMsg">
        {{errorMsg}}
      </div>
    </div>

